altgraph==0.17.4 ; python_version >= "3.11" and python_version < "3.12"
black==24.1.1 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "win32" or platform_system == "Windows")
comtypes==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
flake8==7.0.0 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "3.12"
isort==5.13.2 ; python_version >= "3.11" and python_version < "3.12"
macholib==1.16.3 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "darwin"
mccabe==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
mypy==1.8.0 ; python_version >= "3.11" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.11" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "3.12"
pefile==2023.2.7 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
pillow==10.2.0 ; python_version >= "3.11" and python_version < "3.12"
platformdirs==4.2.0 ; python_version >= "3.11" and python_version < "3.12"
pluggy==1.4.0 ; python_version >= "3.11" and python_version < "3.12"
pycodestyle==2.11.1 ; python_version >= "3.11" and python_version < "3.12"
pyflakes==3.2.0 ; python_version >= "3.11" and python_version < "3.12"
pyglet==2.0.10 ; python_version >= "3.11" and python_version < "3.12"
pyinstaller-hooks-contrib==2024.1 ; python_version >= "3.11" and python_version < "3.12"
pyinstaller==6.4.0 ; python_version >= "3.11" and python_version < "3.12"
pytest==8.0.0 ; python_version >= "3.11" and python_version < "3.12"
pywin32-ctypes==0.2.2 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
setuptools==69.1.0 ; python_version >= "3.11" and python_version < "3.12"
ttkbootstrap==1.10.1 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.9.0 ; python_version >= "3.11" and python_version < "3.12"
